footer.footer
    span.footer__title Links
    nav.footer__links
        a(href='index') Home
        a(href='reviews') Monthly reviews
        a(href='whatsnew') What's new?
        a(href='schedule') Schedule
        a(href='locations') Locations