head 
    meta(charset='UTF-8')
    link(rel='stylesheet', href='./css/global.css')
    link(rel='stylesheet', href='./css/header.css')
    link(rel='stylesheet', href='./css/footer.css')
    link(rel='stylesheet', href='./css/imagery.css')
    link(rel="stylesheet", href="./css/text-content.css")
    link(rel="stylesheet", href="./css/form-content.css")
    link(rel="stylesheet", href="./css/niche-content.css")
    link(rel='icon', type='image/png', href='./media/favicon.png')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(name='description', content='This is the website of our cinema called MovieZone.')
    meta(name='keywords', content='cinema, watch movie, theater, new movies, movie cast, movie reviews, MovieZone, MovieZone cinema, Movie Zone')