nav.mobile-header
    a(href='index') Home
    a(href='reviews') Monthly reviews
    a(href='whatsnew') What's new?
    a(href='schedule') Schedule
    a(href='locations') Locations
nav.header
    div.header__mobile-navigation
        div
        div
        div
        div
    a.header__link(href='index') Home
    h1.header__title
        a(href='index') Moviezone
    a.header__link(href='reviews') Monthly reviews
    a.header__link(href='whatsnew') What's new?
    a.header__link(href='schedule') Schedule
    a.header__link(href='locations') Locations
    div.header__profile
        span.header__login
        span.header__login
