doctype html
html(lang="en")
    include head.pug
    title MovieZone
    body
        include header.pug
        include footer.pug
        include scripts.pug
        script(src='./script/theater.js', defer)
        