doctype html
html(lang="en")
    include head.pug
    title Locations revamped
    body
        include header.pug
        include footer.pug
        include scripts.pug
        script(src='./script/locations.js', defer)