doctype html
html(lang="en")
    include head.pug
    title Login
    body
        include header.pug
        include footer.pug
        include scripts.pug
        script(src='./script/login.js', defer)