
//- this could be a page where we show our schedule Pathe or calendar style.
doctype html
html(lang="en")
    include head.pug
    title Schedule
    body
        include header.pug
        include footer.pug
        include scripts.pug
        script(src='./script/schedule.js', defer)