script(src='./script/global.js', defer)
script(src='./script/ajax.js', defer)
script(src='./script/dynamic.js', defer)
script(src='./script/header.js', defer)
script(src='./script/imagery.js', defer)
